[Desktop Entry]
Encoding=UTF-8
Name=Link to Fully-online programs and free courses - OpenClassrooms
Type=Link
URL=https://openclassrooms.com/
Icon=text-html
Name[en_US]=OpenClassrooms
