[Desktop Entry]
Encoding=UTF-8
Name=Link to Katchi (Ofenbach vs. Nick Waterhouse) - Ofenbach - Deezer - Nick Waterhouse - Deezer
Type=Link
URL=http://www.deezer.com/us/
Icon=text-html
Name[en_US]=Deezer
