[Desktop Entry]
Encoding=UTF-8
Name=Link to Vol pas cher et Billet d'avion | Comparateur de Vol JETCOST
Type=Link
URL=https://www.jetcost.com/?utm_source=facebook&utm_medium=cpc&utm_content=Image_798_Texte_10&utm_campaign=FR_LDSSVA20_DNF
Icon=text-html
Name[en_US]=JETCOST
