[Desktop Entry]
Encoding=UTF-8
Name=Link to A large collection of Gnuplot examples | alvinalexander.com
Type=Link
URL=https://alvinalexander.com/technology/gnuplot-charts-graphs-examples
Icon=text-html
